html
  head
    meta(charset="UTF-8")
    title Books
    meta(name="author", content="slavik.nychkalo@gmail.com")
    meta(name="viewport", content="width=device-width, user-scalable=no")
  body
    h1 Books
    div(class="root", id="root")
    script(type='text/javascript').
        window.HOST = '';
    script(src="/static/bundle.js")